[Unit]
description=ipfs p2p daemon
After=network.target
Requires=network.target

[Service]
Type=simple
RestartSec=10
Restart=always
PermissionsStartOnly=true
Nice=18
StateDirectory=/var/lib/ipfs
Environment=IPFS_PATH=/var/lib/ipfs
Environment=HOME=/var/lib/ipfs
LimitNOFILE=8192
Environment=IPFS_FD_MAX=8192
EnvironmentFile=-/etc/sysconfig/ipfs
StandardOutput=journal
WorkingDirectory=/var/lib/ipfs
ExecStartPre=-/usr/sbin/adduser --system --group --home /var/lib/ipfs ipfs
ExecStartPre=-/bin/mkdir /var/lib/ipfs
ExecStartPre=-/bin/chown ipfs:ipfs /var/lib/ipfs
ExecStartPre=-/bin/chmod ug+rwx /var/lib/ipfs
ExecStartPre=-/usr/bin/chpst -u ipfs /usr/local/bin/ipfs init
ExecStartPre=-/usr/bin/chpst -u ipfs /usr/local/bin/ipfs config profile apply server
ExecStartPre=-/usr/bin/chpst -u ipfs /usr/local/bin/ipfs config profile apply local-discovery
ExecStartPre=-/usr/bin/chpst -u ipfs /usr/local/bin/ipfs config Datastore.StorageMax "200GB"
ExecStart=/usr/local/bin/ipfs daemon --enable-namesys-pubsub --enable-pubsub-experiment

[Install]
WantedBy=multi-user.target
